#background {
     background-image: url("{{ asset('images/background.jpg') }}");
     background-size: cover; 
     background-position: center; 
     background-attachment: fixed;
}


#add_edit_div {
        border: 2px solid black;
        border-radius: 5px;
        padding: 10px;
        background-color: lightgrey;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    }
    
 
        
    